// colors
$primary-black: black;
$primary-white: #ffffff;

// padding & margin
$mobile-margin: 1rem;
$tablet-margin: 2rem;
$desktop-max-width: 63.75rem;

// breakpoints
$max-phone: 767px;
$max-tablet: 1279px;